header {
  padding: 10px;
  text-align: center;
  background: #242424;
  margin-bottom: 20px;
}
header h4 {
  margin: 0;
}

.container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  justify-content: center;
}

.card {
  width: 20rem;
  margin: auto;
  background: #2a2a2a;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  min-height: 100%;
}

@media (width >= 48rem) {
  .container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .card {
    width: 100%;
    margin: auto;
  }
}

.card h2 {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
